<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>deconnexion</title>
   
   <!--CSS principal-->
   <link href="/styles.css" rel="stylesheet" type="text/css"/>

   <!--CSS pour les fonts-->
   <link href="/ionicons.min.css" rel="stylesheet"/>
   <link href="/font-awesome.min.css" rel="stylesheet"/>

   <!--CSS Bootstrap-->
   <link href="/bootstrap.min.css" rel="stylesheet"/>

   <!--CSS pour les animations-->
   <link href="/animate.min.css" rel="stylesheet"/>

   <!--CSS Fonts Google-->
   <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

   <meta http-equiv="refresh" content="0.1; URL=index"> <!-- redirection vers accueil 3 secondes-->

</head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 


   <body>
        <h1>Fly Direct</h1>
        <section id="header" class="header-one">
                <div class="container">
                    <div class="row">

                        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                    <div class="header-thumb">
                          <h4 class="wow fadeIn" data-wow-delay="1.6s">Redirection vers l'accueil<br/></h4>
                          <h3 class="wow fadeInUp" data-wow-delay="1.9s"></h3>
                    </div>
                        </div>

                    </div>
                </div>
        </section>


    </body>
</html>
